.footer {
  background: #ECEFE5;
  padding: 40px 60px 20px;
  color: #43483F; // основной текст;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
  }

  .links-column {
    display: flex;
    flex-direction: column;
    gap: 14px;
    min-width: 220px;
  }

  .link-item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    transition: opacity 0.2s;

    mat-icon {
        color: #43483F; // цвет иконок
      font-size: 20px;
      opacity: 0.7;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .logo-section {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 220px;
      height: auto;
    }
  }

  .footer-bottom {
    margin-top: 30px;
    text-align: right;
    font-size: 12px;
    color: #777;
  }
}

/* Адаптив */
@media (max-width: 900px) {
  .footer {
    padding: 30px 20px;

    .footer-container {
      flex-direction: column;
      align-items: flex-start;
    }

    .logo-section {
      margin-top: 20px;
    }

    .footer-bottom {
      text-align: left;
    }
  }
}