@if (productResource(); as product) {
<div class="product-grid">
    <div class="image-area">
        <img [src]="'uploads/' + product.imgUrl" [alt]="product.name" class="productResource()-img">
    </div>

    <div class="content-area">
        <h1 class="mat-headline-medium">
            {{ product.name }} 
            <span class="unit-text">{{ product.netContent }}{{ product.unit }}</span>
        </h1>

        <div class="price-cart-btn">
            <div class="price-stack">
                @if (product.isPromo && product.oldPrice) {
                    <p class="old-price">{{ product.oldPrice | number:'1.2-2' }} грн</p>
                    <p class="price-text promo">{{ product.price | number:'1.2-2' }} грн</p>
                } @else {
                    <p class="price-text">{{ product.price | number:'1.2-2' }} грн</p>
                }
            </div>

            <button mat-flat-button class="buy-btn" (click)="addToCart.emit(product)">
                <mat-icon>shopping_cart</mat-icon>
                До кошику
            </button>
        </div>

        <mat-accordion [multi]="false" class="product-accordion">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>Опис</mat-panel-title>
                </mat-expansion-panel-header>
                <p class="product-descr-panel">{{ product.description }}</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Загальна інформація</mat-panel-title>
                </mat-expansion-panel-header>

                <div class="info-table">
                    <div class="row">
                        <span class="label">Країна походження</span>
                        <span class="value">{{ product.originCountry || 'Не вказано' }}</span>
                    </div>
                    <div class="row">
                        <span class="label">Торгова марка</span>
                        <span class="value">{{ product.brand || 'Не вказано' }}</span>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div class="product-slider">
    <app-product-slider title="Схожі товари" [items]="similarProducts()"></app-product-slider>
</div>
} @else {
    <div class="loading-container">
        <p>Завантаження продукту...</p>
    </div>
}