[mat-list-item].mat-mdc-list-item-activated {
    background-color: rgba(76, 175, 80, 0.1);
    color: var(--mat-sys-primary);
}

.sidebar {
    --mat-list-list-item-label-text-size: 14px;

    width: 280px;
    border-right: 1px solid #eee;


    .mat-mdc-list-item-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block !important;
    }
}

[matListItemTitle] {
    flex: 1;
}

[mat-list-item].mat-mdc-list-item-activated .category-icon {
  filter: invert(34%) sepia(85%) saturate(388%) hue-rotate(81deg) brightness(92%) contrast(89%); 
}

.category-icon {
  --mat-list-list-item-leading-icon-size: 28px;
  object-fit: contain;
}

.category-icon {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}


mat-nav-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 6px;
  padding-right: 6px;
  height: 100%;
}