<div class="account-layout">
    <header class="account-header">
      <div class="account-header__left">
        <a routerLink="/" class="account-header__logo">
          <img src="images/logo-no-bg2.png" alt="Logo" />
        </a>
  
        <h1 class="account-header__title">Персональний Аккаунт</h1>
      </div>
  
    </header>
  
    <div class="account-layout__body">
      <app-account-sidebar [items]="navItems"></app-account-sidebar>
  
      <main class="account-layout__content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>