<div class="breadcrumb-container">
  @for (crumb of breadcrumbs(); track crumb; let isLast = $last) {
  <span [class.crumb-active]="isLast" class="crumb-text">
    {{ crumb.name }}
  </span>

  @if (!isLast) {
  <mat-icon class="breadcrumb-separator">chevron_right</mat-icon>
  }
  }
</div>

@if(products().length > 0) {
  <div class="sort-filter-pane">
    <app-sort-select [selectedOption]="sort()" (sortChange)="onSortChanged($event)" />
  
    @if (filterConfig().length > 0) {
    <app-filter-sidebar [config]="filterConfig()" [(activeFilters)]="activeFilters" (apply)="onFiltersApplied($event)">
    </app-filter-sidebar>
    }
  </div>
}

@if (isLoading()) {
<div class="empty-state">
  <p>Завантаження товарів...</p>
</div>
} @else if (products().length > 0) {
<app-product-grid [items]="products()"></app-product-grid>
} @else {
<div class="empty-state">
  <mat-icon class="empty-icon">inventory_2</mat-icon>
  <h3>Тут поки що порожньо</h3>
  <p>За вашим запитом чи вибраними фільтрами нічого не знайдено. Спробуйте змінити критерії пошуку.</p>
</div>
}