<div class="homepage">
  <main class="homepage__content">
    <section class="homepage__hero">
      <div class="homepage__banner">
        <app-banner-section
          [leftImages]="leftImages"
          (cardClick)="onBannerCardClick($event)">
        </app-banner-section>
      </div>
    </section>

    <section class="homepage__products">
      <app-product-slider [title]="'Швидко та смачно'" [items]="quickTastyItems" (addToCart)="onAddToCart($event)">
      </app-product-slider>
    </section>

    <section class="homepage__categories">
      @for (cat of extraCategories1; track cat.title) {
      <app-category-card [title]="cat.title" [image]="cat.image" [bgColor]="cat.bgColor">
      </app-category-card>
      }
    </section>

    <section class="homepage__products">
      <app-product-slider [title]="'Коробки із цукерками'" [items]="candyBoxesItems" (addToCart)="onAddToCart($event)">
      </app-product-slider>
    </section>

    <section class="homepage__promo">
      <div class="homepage__promo-card">
        <div class="homepage__promo-content">
          <h3>Свіжість, якій можна довіряти</h3>
          <p>
            Ми ретельно відбираємо кожен продукт, щоб ви отримували лише найсвіжіші овочі та фрукти прямо з фермерських
            господарств...
          </p>
          <p>
            Здорове харчування починається з правильного вибору.
          </p>
        </div>

        <div class="homepage__promo-image">
          <img src="images/grocery-bag.svg" alt="Пакет із продуктами" />
        </div>
      </div>
    </section>

    <section class="homepage__products">
      <app-product-slider [title]="'Солодке до хліба'" [items]="sweetSpreadsItems" (addToCart)="onAddToCart($event)">
      </app-product-slider>
    </section>

    <section class="homepage__categories">
      @for (cat of extraCategories2; track cat.title) {
      <app-category-card [title]="cat.title" [image]="cat.image" [bgColor]="cat.bgColor">
      </app-category-card>
      }
    </section>

    <section class="homepage__products">
      <app-product-slider [title]="'Протеїнові йогурти'" [items]="proteinYogurtsItems" (addToCart)="onAddToCart($event)">
      </app-product-slider>
    </section>
  </main>
</div>